<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498151346914-c1g6625trkb97k4mi4tliveic36a8s7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498151346914-c1g6625trkb97k4mi4tliveic36a8s7c</string>
	<key>API_KEY</key>
	<string>AIzaSyBf4bWlxLCPeynaHUxPiCEOJ1b7NBxz1YY</string>
	<key>GCM_SENDER_ID</key>
	<string>498151346914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mydemo</string>
	<key>PROJECT_ID</key>
	<string>phoneauthtest-7869a</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauthtest-7869a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498151346914:ios:eb4fec9c3e5aff528b84bb</string>
</dict>
</plist>